<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @athlete.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @athlete.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @athlete.category %>
</p>

<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
